{% extends 'base_login.html' %}
{% load static %}
{% block head %} <link rel="stylesheet" href="{% static 'css/cadastro_style.css' %}"> {% endblock %}

{% block content %}
    <h1 class="register-title">Create Account</h1>

    <div class="input-group">
      <input type="text" placeholder="Username">
    </div>

    <div class="input-group">
      <input type="email" placeholder="Email">
    </div>

    <div class="input-group">
      <input type="password" placeholder="Password">
    </div>

    <div class="input-group">
      <input type="password" placeholder="Confirm Password">
    </div>

    <button class="register-btn">Create Account</button>

    <div class="login-link">
      <a href="#">Already have an account? Sign In</a>
    </div>

    <a href="#" class="google-btn">
      <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google">
      <span>Entrar com Google</span>
    </a>
{% endblock %}